html,
body
 {
    height: 100%;
}

.cover {
    height: 100%;
    background: url('img/language.jpg') top left no-repeat;
    background-size: cover;
    
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}

.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.cover-text h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}
.navbar-brand{
    display: flex;
align-items: center;

}

.header{
    padding: 20px;
}




.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.bg-1 {
    background-image: url(img/color5.jpg);
    color: #000000;
  }

nav.navbar-inverse {
    background: rgba(0, 0, 0, 0.5);
    border: none;
}


section {
    padding: 100px;
} 

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

/*
.footer-section { 
    left: 0;
    bottom: 0;
    width: 100%;
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Georgia, Times, serif;
}


.footer-left-pic {
	position: absolute;
	left: -13px;
	bottom: 19px;
}

footer a {
    color: hotpink;
}
*/


/*.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
}
*/

#footer-main {
    background: #222;
    color: white;
    font-size: 1rem;
    padding: 2.5rem 0;
}





.section-content {
    padding: 5rem 0;
}



.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

/* Media Queries */

@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
    
}



.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.card2 {
    position: relative;
    border: solid 1px #212121;
    padding: 45px 50px 25px 60px;
    margin-top: 50px;
    background-color: #212121;
    border-radius: 10px;
    color: #fff
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px
}

.nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #212121;
    margin-left: 85px;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.profile-pic {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 65px;
    margin-top: 15px
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: #616161
}

#testmonial{
     background-color: #000;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-left: 80px;
    padding-bottom: 100px;
    

    
    
}
 /* courses */

#box{
    padding-top: 150px;
    padding-left: 25px;
    padding-bottom: 900px;
    margin-bottom: auto;
    background-image: url(img/color5.jpg);
}


#stickySidebar{
   background-color: darkgreen;
    height: 20%;
    width: auto;
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    padding-top: 20px;
    padding-left: 10px;
}




#btm{
    
    margin-left: 100px;
}


/* contact */

.map iframe {
	width: 100%;
	height: 600px;
	margin-bottom: 104px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid rgba(255, 255, 255, 0.54);
	padding-bottom: 20px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	font-style: italic;
	color: #fff;
	line-height: 1;
}

.contact-form textarea {
	line-height: 1.4;
	height: 156px;
	margin-bottom: 48px;
}

.contact-form .site-btn img {
	left: 5px;
}

.contact-text h3 {
	margin-bottom: 25px;
}

.contact-text p {
	line-height: 1.9;
	color: #68647d;
	margin-bottom: 50px;
}

.cont-info {
	overflow: hidden;
	margin-bottom: 20px;
}

.cont-info .ci-icon {
	float: left;
	width: 32px;
	margin-right: 26px;
}

.cont-info .ci-text {
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
}




/* about us */
.bg-2  {
    background-image: url(img/color5.jpg);
    color: #000000;
    padding-top: 150px;
    padding-bottom: 50px;
    
  }

#study{
   
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
    width: 1200px;
    margin: 0 auto;
    background-color: floralwhite;
    
    
}
.line{ padding-right: 25px;
  
}

.pic{

    padding-top: 100px;
}





@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


#padding
{
    padding-top: 100px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
    margin-top: 100px;
  margin: 0 auto 100px;
  background: #fff;

}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
          transform: translate3d(-640px, 0, 0);
}

  .submit, .fb-btn {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
  background-size: cover;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  -webkit-transform: translateX(520px);
          transform: translateX(520px);
}
.img__text.m--in {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
          transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}











