html,
body
 {
    height: 100%;
}


}
.navbar-brand{
    display: flex;
align-items: center;

}

.navbar-brand i{
    text-shadow: 1px 1px 1.5px #179be8;
}

.header{
    padding: 20px;
}




.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.bg-1 {
    background-image: url(img/color5.jpg);
    color: #000000;
  }

nav.navbar-inverse {
    background: rgba(0, 0, 0, 0.5);
    border: none;
}




section {
    padding: 100px;
} 

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

.online{
    padding-top: 40px;
}

#cup{
    background-color: #fff;
    border: 1px  solid #fff;
    padding: 10px 10px;
}

/*
.footer-section { 
    left: 0;
    bottom: 0;
    width: 100%;
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Georgia, Times, serif;
}


.footer-left-pic {
	position: absolute;
	left: -13px;
	bottom: 19px;
}

footer a {
    color: hotpink;
}
*/


/*.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
}
*/

#footer-main {
    background: #222;
    color: white;
    font-size: 1rem;
    padding: 2.5rem 0;
}





.section-content {
    padding: 5rem 0;
}



.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}
#padding
{
    padding-top: 50px;
    padding-bottom: 50px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}



body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
.btn,
select {
  cursor: pointer;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0
}

#padding p {
  color: #666;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.btn,
button,
.actionbg,
input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
}

.btn:hover,
button:hover {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

/*--/wrapper--*/
.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*--//wrapper--*/
/*-- login --*/
.forms23-block-hny h1 {
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
}

.w3l-forms-23 {
  padding: 2rem 0;
  align-items: center;
  background: url(img/backgroung.png) no-repeat top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
  min-height: 100vh;
  z-index: 0;
  text-align: center;
}

.w3l-forms-23:before {
  content: "";
  background: rgba(12, 9, 16, 0.57);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.forms23-block-hny .main-bg {
  background: url(img/download.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  border-radius: 0 0 300px 300px;
  z-index: 0;
  position: relative;
}

.forms23-block-hny .main-bg:before {
  content: "";
  background: rgba(43, 32, 34, 0.42);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 300px 300px;
}

.forms23-block-hny .form23 {
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  margin: 0 auto;
  max-width: 430px;
  text-align: center;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
}

.forms23-block-hny .form23 h6 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  padding-top: 5em;
  padding-bottom: 2em;
}

.forms23-block-hny .form23 form .input-form {
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 12px;
  border: 1px solid #dedddd;
  outline: none;
  background:transparent;
}
.forms23-block-hny .form23 form .input-form:focus {
  background: rgba(43, 32, 34, 0.09);
  border: 1px solid #2B2022;
}
.forms23-block-hny .form23 p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

.forms23-block-hny button.btn.loginhny-btn {
  width: 100%;
  padding: 15px 28px;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  background: #2B2022;
  border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  margin-top: 12px;
}

.forms23-block-hny button.btn.loginhny-btn:hover {
  background: #BD783A;
  color: #2B2022;
  text-decoration: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.forms23-block-hny .form23 a {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #BD783A;
}
.forms23-block-hny .form23 a:hover {
  color:#2B2022;
  text-decoration: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.forms23-block-hny .first-look{
  border-radius: 50%;
  margin: 0 auto;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
  width: 60px;
  height: 60px;
  border: 4px solid rgba(99, 85, 87, 0.19);
  border: 4px solid rgba(99, 85, 87, 0.19);
}
.forms23-block-hny .first-look img{
  margin-top: 12px;
  text-align: center;
}
.forms23-block-hny .bottom-content {
  padding: 35px;
}

.forms23-block-hny .speci-login {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
}

.forms23-block-hny .form23 h6 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  padding-top: 5em;
  padding-bottom: 2em;
}
.forms23-block-hny .form23 h6.sec-one {
  padding-top:5em;
  padding-bottom: 2.8em;
  margin-bottom: 1em;
}

/*/copy-right*/
.w3l-copy-right.text-center {
  margin-top: 2em;
}

.w3l-copy-right p {
  font-size: 15px;
  line-height: 29px;
  color: #fff;
}

.w3l-copy-right p a {
  color: #bd783a;
}
.w3l-copy-right p a:hover {
  color:#fff;
  text-decoration: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
/*//copy-right*/
@media all and (max-width:667px) {
  .forms23-block-hny h1 {
    font-size: 32px;
  }
}
@media all and (max-width: 440px) {
  .forms23-block-hny .form23 h6 {
    padding-top: 4em;
  }
  .forms23-block-hny h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 410px) {
  .forms23-block-hny .form23 h6.sec-one {
    padding-top: 3.5em;
  }

  .forms23-block-hny .bottom-content {
    padding: 35px 20px;
  }
}


/* Media Queries */

@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
    
    
}




.card2 {
    position: relative;
    border: solid 1px #212121;
    padding: 45px 50px 25px 60px;
    margin-top: 50px;
    background-color: #212121;
    border-radius: 10px;
    color: #fff
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px
}

.nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #212121;
    margin-left: 85px;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.profile-pic {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 65px;
    margin-top: 15px
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: #616161
}

#testmonial{
     background-color: #000;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-left: 80px;
    padding-bottom: 100px;
    

    
    
}

@media only screen and (max-width: 479px){
    .cont{
        width: 445px;
    }
}





 /* courses */




/* contact */

.ci-text{
    color: #000000;
}
.map iframe {
	width: 100%;
	height: 600px;
	margin-bottom: 104px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid rgba(255, 255, 255, 0.54);
	padding-bottom: 20px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	font-style: italic;
	color: #fff;
	line-height: 1;
}

.contact-form textarea {
	line-height: 1.4;
	height: 156px;
	margin-bottom: 48px;
}

.contact-form .site-btn img {
	left: 5px;
}

.contact-text h3 {
	margin-bottom: 25px;
}

.contact-text p {
	line-height: 1.9;
	color: #68647d;
	margin-bottom: 50px;
}

.cont-info {
	overflow: hidden;
	margin-bottom: 20px;
}

.cont-info .ci-icon {
	float: left;
	width: 32px;
	margin-right: 26px;
}

.cont-info .ci-text {
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
}




/* about us */
.bg-2  {
    background-image: url(img/color5.jpg);
    color: #000000;
    padding-top: 120px;
    padding-bottom: 50px;
    
  }


.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

#size{
    font-size: 15px;
}

#study{
   
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 100px;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    font-family: Open Sans", Helvetica, Arial, sans-serif;
    
    
}
.line{ padding-right: 25px;
  
}

.pic{

    padding-top: 100px;
}


@media only screen and (max-width: 479px){
    #study{
        width: 440px;
    }
}



/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media (max-width: 1240px) {
	.header-warp,
	.msf-warp {
		width: 100%;
	}
	.header-section {
		padding: 0 28px;
	}
}


/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.course-item.featured .course-preview,
	.course-item.featured-2 .course-preview {
		height: 400px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

	.course-item.featured .course-preview,
	.course-item.featured-2 .course-preview,
	.blog-item .blog-thumb {
		height: 350px;
	}
	.course-item.featured-2 .cc-text {
		padding: 40px 35px 30px;
	}
}



/* small Mobile :320px. */

@media only screen and (max-width: 479px) {

	.course-item.featured .course-preview,
	.course-item.featured-2 .course-preview,
	.blog-item .blog-thumb {
		height: 250px;
	}
	.course-item.featured .featur-badges {
		width: 110px;
		font-size: 12px;
		padding: 10px 0;
		font-weight: 600;
	}
}

@media only screen and (max-width: 479px){
    #foot{
        width: 440px;
    }
}




@media only screen and (max-width: 479px){
    #footer{
        width: 480px;
    }
}




/*------------------
  Courses section
---------------------*/

.spad {
    font-family: Open Sans", Helvetica, Arial, sans-serif;
}
.course-slider {
	-webkit-box-shadow: 0px 17px 40px 24px rgba(50, 50, 50, 0.1);
	        box-shadow: 0px 17px 40px 24px rgba(50, 50, 50, 0.1);
}

.course-slider .owl-dots {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -80px;
}

.course-slider .owl-dots .owl-dot {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 15px;
	background: #cecece;
	margin: 0 4px;
}

.course-slider .owl-dots .owl-dot.active {
	background: #1a5ed1;
}

.courses-page .course-item {
	margin-bottom: 77px;
}

.course-item {
	-webkit-box-shadow: 0px 0 40px 24px rgba(50, 50, 50, 0.1);
	        box-shadow: 0px 0 40px 24px rgba(50, 50, 50, 0.1);
}

.course-item .course-preview {
	position: relative;
	margin: 0;
}

.course-item .course-preview img {
	min-width: 100%;
}

.course-item .course-preview .price {
	position: absolute;
	top: 25px;
	left: 0;
	font-size: 18px;
	font-weight: 600;
	padding: 7px 28px 7px 18px;
	color: #fff;
	-webkit-clip-path: polygon(100% 0%, 85% 49%, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0%, 85% 49%, 100% 100%, 0 100%, 0 0);
}

.course-item .cc-text {
	padding: 40px 35px 30px;
}

.course-item .cc-text h5 {
	font-size: 18px;
	margin-bottom: 25px;
	line-height: 1.5;
}

.course-item .cc-text span {
	color: #838383;
	font-size: 14px;
	margin-right: 15px;
}

.course-item .cc-text span i {
	font-size: 19px;
	color: #d2d2d2;
	margin-right: 2px;
}

.course-item .rating {
	float: right;
	text-align: right;
}

.course-item .rating i {
	font-size: 12px;
	color: #fbb710;
}

.course-item .rating i.i-fade {
	color: #e0e3e4;
}

.course-item .seller-info {
	padding: 12px 26px;
	overflow: hidden;
}

.course-item .seller-info .seller-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.course-item .seller-info h6 {
	color: #fff;
	padding-left: 60px;
	top: 13px;
	position: relative;
	font-weight: 500;
}

.course-item .seller-info h6 span {
	color: #f3e830;
}

.course-item.featured .course-preview {
	height: 456px;
}

.course-item.featured .course-preview .price {
	top: 37px;
}

.course-item.featured h5 {
	font-size: 30px;
}

.course-item.featured .cc-text {
	padding: 40px 30px 30px;
}

.course-item.featured .featur-badges {
	position: absolute;
	width: 175px;
	background: #f3e830;
	color: #000;
	font-size: 14px;
	text-align: center;
	padding: 12.5px 0;
	right: 0;
	top: 37px;
	text-transform: uppercase;
}

.course-item.featured-2 {
	padding: 0 15px;
}

.course-item.featured-2 .course-preview {
	height: 100%;
}

.course-item.featured-2 .cc-text {
	padding: 60px 43px 30px;
}

.course-item.featured-2 p {
	margin-bottom: 48px;
}


#pic{
    height: 270px;
    margin-top: 10px;
}

